target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/google_checks.xml
!**/src/main/resources/archetype-resources/checkstyle.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Environment Variables ###
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
